{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
                {tp:menu menu="add,forbid,resume,saveOrder" /}
            </span>
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox"></th>
            <th width="">id</th>
            <th width="">名称</th>
            <th width="">上级id</th>
            <th width="">排序</th>
            <th width="">图标</th>
            <th width="">状态</th>
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
            <td>{$vo.id}</td>
            <td>{$vo.name}</td>
            <td>{$vo.parent_id}</td>
            <td style="padding: 0">
    <input type="number" name="sort[{$vo.id}]" value="{$vo.sort}" style="width: 60px;"
        class="input-text text-c order-input" data-id="{$vo.id}"></td>
            <td>{$vo.icon}</td>
            <td>{$vo.status|get_status}</td>
            <td class="f-14">
                    {$vo.status|show_status=$vo.id}
                    {tp:menu menu='sedit' /}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}

