{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
        <input type="text" class="input-text Wdate" style="width:150px" placeholder="开始时间" name="start_time" value="{$Request.param.start_time ?:$start_time}" {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" {/literal} >
        <input type="text" class="input-text Wdate" style="width:150px" placeholder="结束时间" name="end_time" value="{$Request.param.end_time ?:$end_time}" {literal} onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" {/literal} >
        <input type="text" class="input-text" style="width:150px" placeholder="手机号" name="tel" value="{$Request.param.tel}" >
        <input type="text" class="input-text" style="width:150px" placeholder="昵称" name="nickname" value="{$Request.param.nickname}" >
        <input type="text" class="input-text" style="width:150px" placeholder="订单号" name="trade_no" value="{$Request.param.trade_no}" >
        <div class="select-box" style="width:150px">
            <select name="status" class="select">
                <option value="">状态</option>
                <option value="0">未付款</option>
                <option value="1">已付款</option>
                <option value="2">失效</option>
            </select>
        </div>
        <div class="select-box" style="width:150px">
            <select name="type" class="select">
                <option value="">支付方式</option>
               	{volist name="Think.config.pay_types" key="k" id="vo"}
                    {if(!empty($vo))}
                        <option value="{$k}">{$vo}</option>
                    {/if}
                {/volist}
            </select>
        </div>
        <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    </form>
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            {$Request.param.start_time ?:$start_time} ~ {$Request.param.end_time ?:$end_time} 收入金额：{$total_price}
        </span>
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox"></th>
            <th width="">ID</th>
            <th width="">用户</th>
            <th width="">名目</th>
            <th width="">金额</th>
            <th width="">{:sort_by('支付渠道','type')}</th>
            <th width="">交易流水</th>
            <th width="">支付状态</th>
            <th width="">付款时间</th>
            <th width="">创建时间</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
            <td>{$vo.id}</td>
            <td>{$vo.user.mobile|high_light=$Request.param.mobile} {$vo.user.nickname|high_light=$Request.param.nickname}</td>
            <td>{$vo.subject_name}</td>
            <td>{$vo.total_amount}</td>
            <td>{$vo.type_text}</td>
            <td>
                {if($vo.type == 4)}
                    {$vo.trade_no|high_light=$Request.param.trade_no}
                {/if}
                {if($vo.type == 5)}
                {$vo.transaction_id|high_light=$Request.param.trade_no}
                {/if}
            </td>
            <td>{$vo.status_text}</td>
            <td>{if $vo.status}{$vo.update_time}{/if}</td>
            <td>{$vo.create_time}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/My97DatePicker/WdatePicker.js"></script>
<script>
    $(function () {
        $("[name='type']").find("[value='{$Request.param.type}']").attr("selected", true);
        $("[name='status']").find("[value='{$Request.param.status}']").attr("selected", true);
    })
</script>
{/block}
