<td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
<td>{$vo.id}</td>
<td>{$vo.name}</td>
<td>{$vo.service_id}</td>
<td>{$vo.service_name}</td>
<td>{$vo.camp_id}</td>
<td>{$vo.camp_name}</td>
<td>{$vo.transcript_id}</td>
<td>{$vo.transcript_name}</td>
<td>{$vo.boss_id}</td>
<td>{$vo.boss_name}</td>
<td>{$vo.team_type}</td>
<td>{$vo.equipment_score}</td>
<td>{$vo.subsidy}</td>
<td>{$vo.yy_room_number}</td>
<td>{$vo.expenditure}</td>
<td>{$vo.high_dps}</td>
<td>{$vo.high_hps}</td>
<td>{$vo.purple}</td>
<td>{$vo.blue}</td>
<td>{$vo.green}</td>
<td>{$vo.room_num}</td>
<td>{$vo.status|get_status}</td>
<td>{$vo.create_time}</td>
<td>{$vo.update_time}</td>