<th width="25"><input type="checkbox"></th>
<th width=""></th>
<th width="">房间名</th>
<!--<th width="">服务器id</th>-->
<th width="">服务器名称</th>
<!--<th width="">阵营id</th>-->
<th width="">阵营名称</th>
<!--<th width="">副本id</th>-->
<th width="">副本名称</th>
<!--<th width="">bossid</th>-->
<th width="">boss名称</th>
<th width="">团队名称</th>
<th width="">装备评分</th>
<th width="">YY房间号</th>
<th width="">支出</th>
<th width="">补贴方式</th>
<th width="">DPS需高于第一名的百分比</th>
<th width="">HPS需高于第一名的百分比</th>
<th width="">紫</th>
<th width="">蓝</th>
<th width="">绿</th>
<th width="">房间名称</th>
<th width="">房间状态</th>
<th width="">创建时间</th>
<th width="">结束时间</th>