<td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
<td>{$vo.id}</td>
<td>{if $vo.pic}<img src="{$vo.pic}" height="30">{/if}</td>
<td><a href="/#/article/{$vo.id}" target="_blank">{$vo.title|high_light=$Request.param.title}</a></td>
<td>{$vo.article_category.name}</td>
<td style="padding: 0">
    <input type="number" name="sort[{$vo.id}]" value="{$vo.sort}" style="width: 60px;"
           class="input-text text-c order-input" data-id="{$vo.id}">
</td>
<td>{$vo.create_time}</td>
<td>{$vo.status|get_status}</td>
            