<td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
<td>
  {$vo.id}
</td>
<td>{$vo.mobile}</td>
<td>
  <a title="" href="javascript:;" onclick="layer_open('用户角色信息', '{:\\think\\Url::build(\'role/index\',[\'user_id\'=>$vo[\'id\']])}')" style="text-decoration:none" class="ml-5">{$vo.nickname}</a>
</td>
<td> <a title="" href="javascript:;" onclick="layer_open('余额使用记录', '{:\\think\\Url::build(\'user_money_log/index\',[\'user_id\'=>$vo[\'id\'],\'type\'=>0])}')" style="text-decoration:none" class="ml-5">{$vo.balance}</a></td>
<td><a title="" href="javascript:;" onclick="layer_open('征信违规', '{:\\think\\Url::build(\'user_money_log/index\',[\'user_id\'=>$vo[\'id\'],\'type\'=>1])}')" style="text-decoration:none" class="ml-5">{$vo.credit_num}</a></td>
<td>{$vo.isdel|get_delete}</td>
<td>{$vo.ctime}</td>

